.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ul { 
  list-style: none;
}

.App-link {
  color: #61dafb;
}

.home-container {
  background-image: url('/public/we-are-hiring.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Adjusted to center vertically */
  align-items: right; /* Adjusted to align items to the right */
}

.button-container {
  display: flex;
  color: #dce14c; /* Black text color */
  background-color: #ba3af5;
  justify-content: flex-end; /* Adjusted to align buttons to the right */
  margin-top: 20px;
  position: absolute;
  top: 50%;
  right: 5%; /* Adjusted to move buttons closer to the right side */
  transform: translate(50%, -50%);
}

.select-button {
  border-radius: 20px; /* Soft curved ends */
  font-family: 'Roboto', sans-serif; /* Good font */
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ba3af5; /* Purple background color */
  color: #000000; /* Black text color */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
